Repository ProjectSWGCore/Holocore, pull requests merged in 2025-01, with the labels that each got.

#1732 Content Update
  admin_commands.txt
  serverdata/items/items_weapon_cu.sdb
  serverdata/items/master_item.msdb
  src/main/java/com/projectswg/holocore/resources/support/objects/radial/terminal/TerminalCharacterBuilderRadial.kt
  src/main/java/com/projectswg/holocore/services/support/npc/spawn/DynamicSpawnService.kt
Labels: CONTENT, [Spawns / Lair] Content, [Item] Content

#1734 Content Update
  contribution_dynamic_spawns.txt
  contribution_setting_up_patrols.txt
  contribution_setting_up_spawners.txt
  serverdata/spawn/city/city_tatooine_mos_eisley.sdb
  src/main/java/com/projectswg/holocore/services/gameplay/missions/DestroyMissionTerminal.kt
Labels: DOCUMENTATION, [Missions] Content, [NPC] Content

#1738 Content Update
  serverdata/npc/npc_5.sdb
  serverdata/spawn/dynamic/dynamic_spawns.sdb
Labels: CONTENT, [Spawns / Lair] Content

#1737 Removed NGE feature for inviting players outside awareness range to a…
  src/main/java/com/projectswg/holocore/resources/support/global/commands/callbacks/group/CmdGroupInvite.kt
Labels: BUGFIX, [Group] Service

#1740 Content Update
  serverdata/faction/faction_datatable.sdb
  serverdata/npc/npc_1.sdb
  serverdata/npc/npc_2.sdb
  serverdata/npc/npc_3.sdb
  serverdata/npc/npc_4.sdb
  serverdata/npc/npc_5.sdb
Labels: [Factions] Content

#1742 Added a shared "Clean" IDEA run configuration for convenience, so you…
  .idea/runConfigurations/Clean.xml
Labels: [Engine] Database

#1741 Headless client now waits for objects to spawn like a real client doe…
  src/test/java/com/projectswg/holocore/headless/CharacterSelectionScreen.kt
  src/test/java/com/projectswg/holocore/headless/awareness.kt
  src/test/java/com/projectswg/holocore/headless/grouping.kt
  src/test/java/com/projectswg/holocore/services/gameplay/player/TipCreditsTest.kt
  src/test/java/com/projectswg/holocore/services/gameplay/player/group/GroupTest.kt
  src/test/java/com/projectswg/holocore/test/resources/GenericPlayer.java
Labels: [Engine] Tests

#1743 Added info about resource deposits
  serverdata/resources/resources_deposits.sdb
Labels: [Resource] Service

#1748 Content Update
  serverdata/items/items_weapon_cu.sdb
  serverdata/npc/npc_2.sdb
  serverdata/npc/npc_3.sdb
  serverdata/npc/npc_4.sdb
  serverdata/npc/npc_5.sdb
  serverdata/npc/npc_stats.sdb
  serverdata/spawn/dynamic/dynamic_spawns.sdb
  src/main/java/com/projectswg/holocore/resources/support/objects/radial/terminal/TerminalCharacterBuilderRadial.kt
Labels: [Spawns / Lair] Content, [Missions] Content, [Common Player] Service, [Admin] Service, [Item] Content, [NPC] Content

#1750 Content Update
  src/main/java/com/projectswg/holocore/resources/gameplay/world/travel/TravelHelper.kt
  src/main/java/com/projectswg/holocore/resources/support/global/commands/callbacks/TransferItemCallback.kt
Labels: [Travel] Service, [Item] Service

#1752 Weapon hinderance
  src/main/java/com/projectswg/holocore/resources/support/global/commands/callbacks/TransferItemCallback.kt
  src/main/java/com/projectswg/holocore/services/gameplay/combat/buffs/BuffService.kt
Labels: [Combat Player] Service

#1753 Vehicle decay
  src/main/java/com/projectswg/holocore/resources/support/color/SWGColor.kt
  src/main/java/com/projectswg/holocore/services/gameplay/world/travel/PlayerMountService.java
  src/main/java/com/projectswg/holocore/services/gameplay/world/travel/PlayerMountService.kt
Labels: [Travel] Service

#1756 Automatically mount jetpack when it's called, and automatically store…
  src/main/java/com/projectswg/holocore/services/gameplay/world/travel/PlayerMountService.kt
Labels: [Travel] Service

#1760 Updated dynamic spawn database
  serverdata/spawn/dynamic/dynamic_spawns.sdb
Labels: [Spawns / Lair] Content

#1761 Added missing radial option for watching a dancer
  src/main/java/com/projectswg/holocore/resources/support/objects/radial/RadialHandler.java
  src/main/java/com/projectswg/holocore/resources/support/objects/radial/object/CreatureObjectRadial.kt
Labels: BUGFIX, [Profession] Entertainer
