Repository ProjectSWGCore/Holocore, pull requests merged in 2025-05, with the labels that each got.

#1792 Regression test for static items with object names containing non-ASC…
  src/test/java/com/projectswg/holocore/resources/support/data/server_info/loader/StaticItemLoaderTest.kt
Labels: BUGFIX, [Item] Service

#1803 Log unknown item warnings in the context of the player, so tracing is…
  src/main/java/com/projectswg/holocore/services/support/objects/items/StaticItemService.kt
Labels: IMPROVEMENT

#1805 Updated patrol and spawn points
  serverdata/patrol/patrol_corellia.sdb
  serverdata/patrol/patrol_corellia_gcw.sdb
  serverdata/patrol/patrol_dantooine.sdb
  serverdata/patrol/patrol_kashyyyk_dead_forest.sdb
  serverdata/patrol/patrol_kashyyyk_main.sdb
  serverdata/patrol/patrol_kashyyyk_rryatt.sdb
  serverdata/patrol/patrol_naboo.sdb
  serverdata/patrol/patrol_naboo_gcw.sdb
  serverdata/patrol/patrol_tatooine.sdb
  serverdata/patrol/patrol_yavin4.sdb
  serverdata/spawn/city/city_corellia_kor_vella.sdb
  serverdata/spawn/city/city_kashyyyk_main_kachirho.sdb
  serverdata/spawn/city/city_naboo_kaadara.sdb
  serverdata/spawn/city/city_naboo_keren.sdb
  serverdata/spawn/city/city_naboo_lake_retreat.sdb
  serverdata/spawn/city/city_naboo_theed.sdb
  serverdata/spawn/gcw/gcw_presence_naboo_imperial.sdb
  serverdata/spawn/gcw/gcw_presence_naboo_neutral.sdb
  serverdata/spawn/gcw/gcw_presence_naboo_rebel.sdb
  serverdata/spawn/outback/outback_kashyyyk_main.sdb
  serverdata/spawn/poi/poi_kashyyyk_dead_forest_kerritamba_village.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_blackscale_slaver_compound_gate.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_isolationist_wookiee_village.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_kkowir_forest_gate.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_rodian_hunters_camp.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_rryatt_trail_gate.sdb
  serverdata/spawn/poi/poi_kashyyyk_main_slaver_camp.sdb
  serverdata/spawn/poi/poi_tatooine_jabbas_palace.sdb
Labels: [Spawns / Lair] Content, [Patrol] Content
